.hero {
  min-height: 75vh;
  width: 100%;
  background: #74c3e8;
  /* background: url("images/emmak.jpg") top center; */
}

.hero .content {
  display: flex;
  justify-content: space-between;
  padding: 10rem 6rem 0rem 6rem;
  /* border: 1px solid black; */
}

.my_intro {
  padding-top: 7rem;
  /* z-index: 1000; */
  text-align: center;
}

.my_intro h1 {
  margin: 0 0 10px 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  /* color: #fff; */
}

.my_intro p {
  /* color: #fff; */
  margin-bottom: 30px;
  font-size: 26px;
}

.my_intro p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

.my_image img {
  width: 440px;
  height: 550px;
  border-radius: 50%;
}

/* .wavesContainer {
  margin: 0 auto;
} */

.btn_container button {
  font-size: 1.1rem;
  padding: 0.6rem 1rem;
  margin-right: 3rem;
  justify-content: space-between;
  border-radius: 8px;
  /* border: none; */
}

.btn_container button:hover {
  cursor: pointer;
}

.hero .button:hover {
  background-color: var(--secondary-dark);
  border: 1px solid var(--secondary-dark);
}

/* media query for laptop sizes */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .hero .content {
    padding: 8rem 3rem 4rem 3rem;
  }

  .my_intro {
    padding-top: 2rem;
  }
  .my_intro h1 {
    font-size: 42px;
  }
  .my_intro p {
    font-size: 24px;
  }
  .my_intro p:nth-child(3) {
    line-height: 40px;
  }
  .my_image img {
    width: 360px;
    height: 450px;
  }
}

/* media query for tablet sizes */
@media screen and (min-width: 768px) and (max-width: 948px) {
  .hero .content {
    /* flex-direction: column; */
    padding: 10rem 3rem 0rem 3rem;
  }
  .my_intro {
    padding-top: 2rem;
  }
  .my_intro h1 {
    font-size: 42px;
    line-height: 46px;
  }
  .my_intro p {
    font-size: 24px;
  }
  .my_image img {
    width: 360px;
    height: 450px;
  }
  .btn_container {
    margin: 0 auto;
  }
  .btn_container button {
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 80vh;
  }
  .hero .content {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem 3rem 2rem;
  }

  .my_image {
    margin: 0 auto;
  }

  .my_image img {
    width: 320px;
    height: 400px;
  }

  .my_intro h1 {
    margin: 0 0 10px 0;
    font-size: 40px;
  }
  .my_intro p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 36px;
  }

  .btn_container {
    display: flex;
  }
  .btn_container button {
    font-size: 1rem;
    padding: 0.6rem 0.5rem;
    margin-right: 1.2rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
