.services {
  min-height: 70vh;
  padding-top: 3rem;
}

.services h2 {
  font-size: var(--fontsize_Heading);
  text-align: center;
}

.content_Container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 4rem 2rem 4rem 2rem;
  gap: 2rem;
}

.service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

@media screen and (max-width: 768px) {
  .content_Container {
    flex-direction: column;
    padding: 3rem 1rem 2rem 1rem;
    gap: 3rem;
  }
}
